/* ESTILO GERAL */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  height: 100vh;
}

a button img,
.img-email,
.img-conhecimento {
  display: flex;
  width: 42px;
  height: 42px;
  filter: invert(1);
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

button:hover,
form .btn-enviar input:hover {
  transform: scale(1.05);
}

h2.titulo {
  color: #fff;
  font-size: 34px;
  text-align: center;
}

span {
  color: #45cf57;
}

a {
  color: #45cf57;
  text-decoration: none;
}

/* ESTILO CABEÇALHO */

header {
  padding: 40px 4%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

header > .interface {
  justify-content: center;
  display: flex;
  align-items: center;
}

header a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header nav ul li:hover {
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
  justify-content: space-between;
}

header nav ul li {
  width: calc(auto + 10px);
  height: 25px;
  border-radius: 6px;
  background-color: #45cf57;
  display: inline-block;
  padding: 0 40px;
}

header nav ul li a {
  color: #000;
}

/* ESTILO TOPO */

section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 34px;
  line-height: 33px;
}

.topo-do-site .txt-topo p {
  color: #fff;
  margin: 10px 0;
}

.topo-do-site h2 {
  color: #fff;
  font-size: 13px;
  font-style: italic;
  margin: 0px 0px 30px 0px;
}

.topo-do-site .img-topo img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
  box-shadow: 0px 0px 8px #45cf57b9;
  border: 0;
  border-radius: 30px;
}

@keyframes flutuar {
  0% {
    top: 0;
  }

  100% {
    top: 30px;
  }
}

/** ESTILO ESPECIALIDADES **/

section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}

.especialidades .especialidades-box {
  color: #fff;
  padding: 40px;
  margin-top: 35px;
  border-radius: 20px;
  transition: 0.2s;
  text-align: justify;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #ffffff77;
}

.especialidades .especialidades-box i {
  font-size: 70px;
  color: #45cf57;
}

.especialidades .especialidades-box h3 {
  font-size: 25px;
  margin: 15px 0;
}

/* ESTILO SOBRE */

section.sobre {
  padding: 80px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  color: #fff;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #45cf57;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.btn-social {
  display: flex;
}

.btn-social button {
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 6px;
  transition: 0.2s;
}

.sobre .img-sobre img {
  border-radius: 30px;
}

/* ESTILO PORTIFÓLIO */

section.portifolio {
  padding: 80px 4%;
  box-shadow: 0 0 40px 10px #ffffff1e;
}

section.portifolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 180px;
  background-size: contain;
  transition: 6.5s;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #45cf57;
  opacity: 0;
  transition: 0.5s;
}

.overlay:hover {
  opacity: 1;
}

.txt_por {
  color: #fff;
  margin-top: 40px;
  text-align: justify;
}

/* ESTILO FORM */

/* Estilo rodapé */

footer {
  padding: 40px 4%;
  box-shadow: 0 0 40px 10px #ffffff1e;
}

footer .flex {
  justify-content: space-between;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid #45cf57;
}

footer .line-footer p i {
  color: #45cf57;
  font-size: 22px;
}

footer .line-footer p a {
  color: #fff;
  margin: 8px;
}

@media screen and (max-width: 1020px) {
  /* GERAL */
  .flex {
    flex-direction: column;
  }

  /* CABEÇALHO*/

  .menu-desktop,
  .btn-contato {
    display: none;
  }

  /* TOPO DO SITE */
  section.topo-do-site .flex {
    gap: 40px;
  }

  section.topo-do-site {
    padding: 20px 8%;
  }

  .topo-do-site h1 {
    font-size: 24px;
  }

  /* ESPECIALIDADES */
  section.especialidades {
    padding: 40px 8%;
  }

  /* SOBRE */
  .sobre .txt-sobre h2 {
    line-height: 40px;
    text-align: center;
  }

  .btn-social {
    text-align: center;
  }

  /* PORTIFOLIO */
  section.portifolio {
    padding: 80px 8%;
  }

  .img-port {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }

  section.portifolio .flex {
    gap: 50px;
  }

  /* RODAPE */
  footer .line-footer {
    text-align: center;
  }
}
